.cipher_text{
  font-size: 24px;
}

@font-face {
  font-family: authors_cipher;
  src: url("../fonts/authors_cipher.otf");
}

@font-face {
  font-family: alchemic_cipher;
  src: url("../fonts/alchemic_cipher.otf");
}

@font-face {
  font-family: bill_cipher;
  src: url("../fonts/bill_cipher.otf");
}

@font-face {
  font-family: combined_cipher;
  src: url("../fonts/combined_cipher.otf");
}

@font-face {
  font-family: hylian_botw;
  src: url("../fonts/hylian_botw.otf");
}

@font-face {
  font-family: hylian_tp;
  src: url("../fonts/hylian_tp.otf");
}

@font-face {
  font-family: gerudo;
  src: url("../fonts/gerudo.otf");
}