.header {
	padding: 26px 40px;
	background: #191919;
	color: #f1f1f1;
	width: 100%;
}
.content {
	padding: 16px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content {
	padding-top: 102px;
}
.headerLink{
	color: #a9a9a9;
	font-size: 15px;
	text-decoration:none;   /*Removes underline from the link*/
}
.headerLink:hover {
	color: #ffffff;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
