img{
    margin-top: 2%;
    width:100%;
    height:84%;
    object-fit: cover;
}

.project-card:hover{
    background-color:black !important;
}

.project-card:hover .project-card-description{
    background-color:black !important;
}

.project-card-description{
    background-color: #1D1D1D;
}