body { padding-top: 55px; }

button {
    background-color:#ABABAB;
    border: 1px solid #838383;
}

fieldset{
    background-color:#d9d9d9;
    border: 1px ridge black;
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
    width: 400px;
}

fieldset label, fieldset p, fieldset H2{
    color: #212121;
}

h1 {
    color: #FFFFFF;
    font-size: 70px;
}

h2 {
    color: #FFFFFF;
    font-size: 23px;
}

input, textarea, legend, select{
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

label{
    color: #838383;
}

p {
    color: #838383;
    font-size: 15px;
}

textarea{
    height: 150px;
    width: 300px;
    vertical-align: text-top; /*aligns labels to top of text box*/
}

.button{
  display: inline-block;
  background-color: #d9d9d9;
  padding: 10px;
  width: 100px;
  color: #222222;
  text-align: center;
  border-radius: 40px;
  font-size: 15px;
  text-decoration:none; /*Removes underline from the link*/
}
.button:hover {
  background-color: #ABABAB;
}

.centered_text{
	text-align:center;
}

.textbox{
    width: 300px;
    height: 150px;
    text-align: left;
    vertical-align: text-top; /*aligns labels to top of text box*/
}

.smalltextbox{
    width: 300px;
    height: 30px;
    text-align: left;
    vertical-align: text-top; /*aligns labels to top of text box*/
}



/* Bootstrap Elements*/

.bg-primary{
    background-color: #212121 !important;
}

.bg-secondary{
    background-color: #191919 !important;
}

a.nav-link {
    color: #838383;
}
a.nav-link:hover {
    color: #d9d9d9;
}
a.nav-link.active{
    font-weight: bold;
    color: #838383 !important;
}
a.nav-link.active:hover {
    color: #d9d9d9 !important;
}

.navbar-brand{
    font-weight: bold;
    color: #838383;
}

.navbar-brand:focus{
    color: #838383 !important;
}
.navbar-brand:hover{
    color: #d9d9d9 !important;
}
.navbar-brand:active{
    color: #838383 !important;
}

/*When navbar dropdown is selected*/
.dropdown-toggle.show{
    color: #d9d9d9 !important;
}
.dropdown-toggle:focus{
    color: #d9d9d9 !important;
}