* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    background-color: #212121;
}
p {
    color: #838383;
    font-size: 15px;
}
h1 {
    color: #FFFFFF;
    font-size: 70px;
}

label{
    color: #838383;
}

.button{
  display: inline-block;
  background-color: #d9d9d9;
  padding: 10px;
  width: 100px;
  color: #222222;
  text-align: center;
  border-radius: 40px;
  font-size: 15px;
  text-decoration:none;           <!-- Removes underline from the link -->
}
.button:hover {
  background-color: #ABABAB;
}